<div class="bg-white text-3xl text-indigo-600 text-center fixed inset-x-0 bottom-0 p-4">
    <div class="container px-4 mx-auto md:flex md:items-center">
    <div class="flex justify-between items-center">
        <a href="/" class="font-bold text-xl text-indigo-600">Bray</a>
        <button class="border border-solid border-gray-600 px-3 py-1 rounded text-gray-600 opacity-50 hover:opacity-75 md:hidden" id="navbar-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
</div>