
<html class="bg-indigo-100">
    <head>
        <%- include('partials/header'); -%>
    </head>
    <div class="bg-indigo-100 py-6 md:py-12">
        <div class="p-48">
          <h2 class="mt-6 text-center text-7xl bottom-5 font-extrabold text-gray-900">
            Tamamen eğlencesine yapılmıştır
        </h2>
            <div class="bg-white flex items-center rounded-full shadow-xl">
              <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search" type="text" placeholder="Happy #33.1k">
              
              <div class="p-4">
                <button class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center">
                  <i class="fas fa-search"></i>
                </button>
                </div>
              </div>
            </div>
          </div>
</html>